body {
    background-image: url("../pics/banana.gif");
    background-repeat:repeat;
    background-size: 100vh;
    padding:0;
    margin:0;
}

p {
    font-size: 5em;
    opacity: 0.7;
    -webkit-text-stroke: 1px black;
    color: yellow;
    width: 100%;
    height: 100%;
    margin: 0;
}

