body {
    overflow: hidden;
}

.iframe-container-head {
    overflow: hidden;
    border: 0;
    height: 7vh;
    width: 100vw;
}

.iframe-container-menu {
    overflow: hidden;
    border: 0;
    height: 12vh;
    width: 100vw;
}

.iframe-container-content {
    overflow: hidden;
    border: 0;
    height: 70vh;
    width: 100vw;
}

.iframe-container-footer {
    overflow: hidden;
    border: 0;
    height: 7vh;
    width: 100vw;
}