body, html {
    width: 100%;
    height: 100%;
    min-height: min-content;
    margin: 0;
    overflow: auto;
}

body {
    display: flex;
    align-items: safe center;
    justify-content: start;
    flex-direction: column;
    background: radial-gradient(rgba(118, 0, 191, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
    perspective: 700px;
    font-size: clamp(10px, 2vw, 20px);
}

.grid {
    background: linear-gradient(transparent 65%, rgba(46, 38, 255, 0.4) 75%, #7d41e6 80%, rgba(46, 38, 255, 0.4) 85%, transparent 95%), linear-gradient(90deg, transparent 65%, rgba(46, 38, 255, 0.4) 75%, #7d41e6 80%, rgba(46, 38, 255, 0.4) 85%, transparent 95%);
    background-size: 30px 30px;
    width: 200vw;
    height: 300vh;
    position: absolute;
    bottom: -120vh;
    transform: rotateX(-100deg);
    -webkit-mask-image: linear-gradient(black, rgba(0, 0, 0, 0) 80%);
}

.lines {
    width: 100vw;
    height: 4em;
    background: linear-gradient(rgba(89, 193, 254, 0.2) 20%, #59c1fe 40%, #59c1fe 60%, rgba(89, 193, 254, 0.2) 80%);
    background-size: 1px 0.5em;
    box-shadow: 0 0 1em rgba(89, 193, 254, 0.4);
    transform: translateY(-1em);
    left: 0;
}