body {
    background-image: url("../pics/duck.gif");
    background-repeat: repeat;
    background-size: 100vh;
    padding:0;
    margin:0;
    overflow: hidden;
}

p {
    vertical-align: middle;
    font-size: 90vh;
    opacity: 0.7;
    -webkit-text-stroke: 1px black;
    color: yellow;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}