@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");

.text {
    font-family: 'Exo';
    font-size: 2em;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    padding-left: 1em;
    margin-right: 1em;
}

ul {
    list-style-type: none;
}