@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");

html {
    min-height:100%;
    background:
            linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)
            0 0/100% 200%;
    animation: a 2s linear infinite;
}

@keyframes a {
    to {background-position:0 -200%}
}

th {
    font-family: Exo;
    font-size: 5rem;
    background:
            linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)
            0 0/100% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: a 2s linear infinite;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    font-family: Exo;
    font-size: 5rem;
    padding-left: 25px;
}

.time {
    font-size: 3rem;
    font-family: "Mr Dafoe";
    font-weight: bold;
}

.intermediate {
    font-size: 2rem;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}